eval/eval_docvqa.py
eval/eval_vqa.py
eval/eval_visual7w.py
figures/
.vscode/

#LLAMAVision
LLaMAVision/checkpoints/
LLaMAVision/results/
LLaMAVision/slurm_out/
LLaMAVision/slurm_templates/
/LLaMAVision/tracing_information_flow/visualization/
/LLaMAVision/tracing_information_flow/analysis_token_level.py
/LLaMAVision/tracing_information_flow/__pycache__
/LLaMAVision/__pycache__
/LLaMAVision/information
LLaMAVision/tracing_information_flow/plot_general_info_flow.py
LLaMAVision/model/__pycache__

LLaMAVision/tracing_information_flow/create_docvqa.py
LLaMAVision/tracing_information_flow/create_vqa.py
LLaMAVision/tracing_information_flow/create_visual7w.py
LLaMAVision/tracing_information_flow/plot_docvqa.py
LLaMAVision/tracing_information_flow/plot_vqa.py
LLaMAVision/tracing_information_flow/plot_visual7w.py
LLaMAVision/tracing_information_flow/plot_bar.py
LLaMAVision/tracing_information_flow/dataset/docvqa
LLaMAVision/tracing_information_flow/dataset/visual7w
LLaMAVision/tracing_information_flow/dataset/vqa
LLaMAVision/visual7w.py
LLaMAVision/visual7w_with_attention_blocking.py
LLaMAVision/vqa_v2_with_attention_blocking.py
LLaMAVision/vqa_v2.py
LLaMAVision/docvqa_with_attention_blocking.py
LLaMAVision/docvqa.py
LLaMAVision/README.md

#LLaVA
LLaVA/llava-v1.5-13b
LLaVA/llava/__pycache__
LLaVA/.vscode
LLaVA/__pycache__
LLaVA/slurm_out/
LLaVA/slurm_templates/
LLaVA/docs/
LLaVA/bash.sh
LLaVA/results/
LLaVA/prova.py
LLaVA/README.md
*/__pycache__

#Qwen2.5-VL
Qwen2.5_VL/slurm_out
Qwen2.5_VL/slurm_templates
Qwen2.5_VL/checkpoints
Qwen2.5_VL/results
Qwen2.5_VL/__pycache__
Qwen2.5_VL/qwen2.5_vl/__pycache__
Qwen2.5_VL/tracing_information_flow/__pycache__
Qwen2.5_VL/tracing_information_flow/visualization
Qwen2.5_VL/results_token_masking
Qwen2.5_VL/download_weights.py
Qwen2.5_VL/example.py
Qwen2.5_VL/bash.sh
Qwen2.5_VL/tracing_information_flow/eval_chartqa.py
Qwen2.5_VL/README.md